# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Environment & Credentials - DO NOT COMMIT THESE
*.env
venv/
consolidated_eml_files/

# Data and email files - Exclude all CSV and EML files
*.csv
*.eml
*.xlsx

# Log files
*.log